.advantages {
    min-height: 472px;
    background: #F6F6F6;
    padding-top: 70px;
    &__wrapper {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
    }
    .title {
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        color: #0D0D0D;
    }
    &__icon {
        width: 238px;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #0D0D0D;
        a {
            color: red;
            display: block;
        }
    }
    &__point {
        margin-top: 35px;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        color: #0D0D0D;
    }
}