.consultation {
    background: url(../img/consultation.jpg) center (center/cover) no-repeat;
    min-height: 650px;
    padding: 100px 0 108px 0;
    &__descr {
        margin-top: 8px;
        font-weight: 500;
        font-size: 20px;
        color: #FFFFFF;
    }
}